.expense-button {
  --button-default-border-color: #fecaca; /* a light red color */
  --button-default-color: #ef4444; /* a red color for text */
  padding: 0 !important;
}

.income-button {
  --button-default-border-color: #4ade80; /* a deeper green color */
  --button-default-color: #15803d; /* a deeper green color for text */
  padding: 0 !important;
}

.category-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.category-button {
  padding: 0 !important;
  width: 100%;
  min-width: 5rem;
  @apply h-8;
  @apply leading-8;
}

/* 右上角角标-三角形 */
.selected-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  /* 控制三角形的大小 */
  border-width: 0 15px 15px 0;
  /* 只给右上角边框设置颜色，其他透明 */
  border-color: transparent #3b82f6 transparent transparent; /* blue-500 */
  pointer-events: none;
}
