.check-group-item {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #007bff;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
  border-left: 1px solid #007bff;

  &:first-child {
    border-left: none;
  }

  &--active {
    color: #fff;
    background-color: #007bff;
  }
}
