/**app.wxss**/
@tailwind base;
@tailwind components;
@tailwind utilities;

@wv-keep-import '/miniprogram_npm/@vant/weapp/common/index.wxss';

page {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial,
    Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;

  --button-small-font-size: 26rpx;
  --button-normal-font-size: 32rpx;
  --cell-font-size: 32rpx;
  --tab-font-size: 32rpx;
}

/* Safe Area Utilities */
.p-safe {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom)
    env(safe-area-inset-left);
}
.pt-safe {
  padding-top: env(safe-area-inset-top);
}
.pr-safe {
  padding-right: env(safe-area-inset-right);
}
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
.pl-safe {
  padding-left: env(safe-area-inset-left);
}
.m-safe {
  margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom)
    env(safe-area-inset-left);
}
.mt-safe {
  margin-top: env(safe-area-inset-top);
}
.mr-safe {
  margin-right: env(safe-area-inset-right);
}
.mb-safe {
  margin-bottom: env(safe-area-inset-bottom);
}
.ml-safe {
  margin-left: env(safe-area-inset-left);
}
