.tag-wrapper {
  position: relative;
  overflow: hidden;
}

.tag-button {
  padding: 0 !important;
  width: 100%;
  height: 100%;
  min-width: 3.5rem;
  border: none !important;
}

/* 右上角角标-三角形 */
.selected-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  /* 控制三角形的大小 */
  border-width: 0 15px 15px 0;
  /* 只给右上角边框设置颜色，其他透明 */
  border-color: transparent #3b82f6 transparent transparent; /* blue-500 */
  pointer-events: none;
}
